<a href="javascript:void(0)" class="unit-block">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/diabetes.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>

<a href="javascript:void(0)" class="unit-block unit-block-middle">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/topic7.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>


<a href="javascript:void(0)" class="unit-block">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/topic2.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>

<a href="javascript:void(0)" class="unit-block">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/topic3.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>

<a href="javascript:void(0)" class="unit-block unit-block-middle">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/topic8.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>

<a href="javascript:void(0)" class="unit-block">
  <div class="image-wrap">
    <img class="topic-snap" src="/images/topic5.jpg" alt="Diabetes Image"/>
  </div>
  <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
  <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
</a>