<a href="javascript:void(0)" class="trending-block unit-block">
  <div class="left-block">
    <div class="image-wrap">
      <img class="topic-snap" src="/images/topic7.jpg" alt="Diabetes Image"/>
    </div>
  </div>
  <div class="right-block">
    <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
    <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
  </div>
</a>
<a href="javascript:void(0)" class="trending-block unit-block">
  <div class="left-block">
    <div class="image-wrap">
      <img class="topic-snap" src="/images/topic8.jpg" alt="Diabetes Image"/>
    </div>
  </div>
  <div class="right-block">
    <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
    <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
  </div>
</a>
<a href="javascript:void(0)" class="trending-block unit-block">
  <div class="left-block">
    <div class="image-wrap">
      <img class="topic-snap" src="/images/topic5.jpg" alt="Diabetes Image"/>
    </div>
  </div>
  <div class="right-block">
    <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
    <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
  </div>
</a>
<a href="javascript:void(0)" class="trending-block unit-block">
  <div class="left-block">
    <div class="image-wrap">
      <img class="topic-snap" src="/images/topic6.jpg" alt="Diabetes Image"/>
    </div>
  </div>
  <div class="right-block">
    <h2>Scientists Studying Brain Stimulation as Possible Diabetes Treatment</h2>
    <p>Researchers say stimulating a specific part of the brain can increase dopamine…</p>
  </div>
</a>