.home-page {
  // Top section CSS
  .top-section-hp {
    width: 100%;
    background: url('/images/hp-masthead-mob.jpg') -211px 0px no-repeat;
    background-size: cover;
    height: 426px;

    .content-block {
      display: block;
      width: 450px;
      text-align: center;
    }

    h1 {
      display: block;
      color: #fff;
      text-transform: uppercase;
    }
  }

  // Main Content CSS
  .main-content {
    display: block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  .unit-content {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;

    h2 {
      font-weight: 600;
      padding: 10px 0 15px 0;
    }

    h3 {
      font-weight: 600;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
    }

    .unit-block {
      float: left;
      display: block;
      width: 100%;
      padding: 40px 0 0 0;
      max-width: 380px;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        h2 {
          color: #000;
        }

        .topic-snap {
          transform: scale(1.07);
          transition: all ease-in 0.5s;
        }
      }
    }

    .image-wrap {
      display: block;
      width: 100%;
      border: 1px solid #f7f7f7;
      overflow: hidden;
    }

    .topic-snap {
      display: block;
      width: 100%;
      max-width: 380px;
      max-height: 225px;
      padding: 0;
      margin: 0;
      transition: all ease-out 0.5s;
      transform: scale(1);
    }

    // for trending stories block
    .trending-stories-block {
      display: block;
      width: 100%;
      max-width: 800px;
    }

    .trending-block {
      max-width: 100%;

      h2 {
        padding-top: 20px;
      }

      .left-block {
        float: left;
        width: 100%;
      }

      .right-block {
        float: left;
        width: 100%;
      }

    }
  }

}

@media (min-width: 1000px) {
  .home-page {
    .main-content {
      padding: 0;
    }

    .top-section-hp {
      background: url('/images/hp-masthead.jpg') 0px -150px no-repeat;
      background-size: cover;
      height: 600px;

      .content-block {
        text-align: left;
        padding-top: 250px;
        padding-left: 130px;
      }
    }

    .unit-content {
      padding: 60px 0;

      h2 {
        padding: 20px 0 15px 0;
        font-size: 22px;
      }

      .unit-block {
        box-sizing: inherit;
      }

      .unit-block-middle {
        padding: 40px 30px 0 30px;
      }

      .trending-stories-block {
        padding-right: 20px;
      }

      .trending-block {
        h2 {
          padding-top: 0;
          font-size: 26px;
        }

        .left-block {
          width: 40%;
        }

        .right-block {
          width: 60%;
          padding: 0 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }
  }
}