---
title: Welcome to Middleman
---
<div class="home-page">
  <div class="top-section-hp">
    <div class="wrapper">
      <div class="content-block">
        <h1>Don’t Delay, Start Today!</h1>
      </div>
    </div>
  </div>

  <section class="main-content">
    <div class="unit-content clearfix">
      <h3> LATEST STORIES </h3>
      <%= partial 'partials/hp-latest-articles' %>
    </div>
  </section>

  <section class="main-content">
    <div class="unit-content clearfix">
      <h3> TRENDING STORIES </h3>
      <div class="trending-stories-block clearfix">
        <%= partial 'partials/hp-trending-stories' %>
      </div>
    </div>
  </section>

</div>
